<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bingConfiguration" type="BingRestServices.Configuration.BingConfigurationSection, BingRestServices" />
  </configSections>
  
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="true">
      <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
    </defaultProxy>
  </system.net>

  <bingConfiguration key="API_KEY"
                     baseUrl="http://dev.virtualearth.net/REST/v1/"
                     output="json"
                     culture="en-US">
  </bingConfiguration>
  
</configuration>