<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bingConfiguration" type="BingRestServices.Configuration.BingConfigurationSection, BingRestServices" />
  </configSections>

  <bingConfiguration key="API_KEY"
                     baseUrl="http://dev.virtualearth.net/REST/v1/"
                     output="json"
                     culture="en-US">
  </bingConfiguration>
  
</configuration>